# Luke Riechert
## Week 8 10/13/2020
### Python Functions - Continued wk7

In [1]:
def full_name(fname,lname):
    return fname + ' ' + lname

In [2]:
full_name('Luke', 'Riechert')

'Luke Riechert'

In [9]:
# find if a number is prime
def is_prime(num):
    '''
    This function checks if a number is prime
    '''
    for n in range(2,num):
        if num % n == 0:
            return str(num) + ' is not prime'
    else:
        return str(num) + ' is prime'

In [10]:
is_prime(7)

'7 is prime'

In [11]:
is_prime(16)

'16 is not prime'

In [12]:
# find if a number is prime
def is_prime(num):
    '''
    This function checks if a number is prime
    '''
    for n in range(2,num):
        if num % n == 0:
            print(num, 'is not prime')
            break
    else:
        print(num, 'is prime')

In [13]:
is_prime(7)

7 is prime

In [14]:
is_prime(9)

9 is not prime

In [26]:
#no idea why this won't work appears to all be correct
def min_two_odds(n1,n2):
    if n1%2 !=0 and n2%2 !=0:
        return min(n1,n2)
    else:
        return max(n1,n2)

In [30]:
min_two_odds(3,9)

TypeError: 'int' object is not callable

In [29]:
min_two_odds(9,2)

9

In [33]:
# check if two-word string starts with same letter
def two_word_letters(txt):
    wdlist = txt.split()
    word1 = wdlist[0]
    word2 = wdlist[1]
    return word1[0] == word2[0]

In [32]:
txt = 'Python Program'
txt.split()

['Python', 'Program']

In [34]:
two_word_letters('Python Program')

True

In [35]:
two_word_letters('Java Program')

False

In [36]:
#reduce
def two_word_letters(txt):
    wdlist = txt.split()
    return wdlist[0][0]== wdlist[1][0]

In [37]:
two_word_letters('Pyhton Program')

True

In [38]:
two_word_letters('Java Program')

False

In [39]:
#create_thirty(10,20) --> True
#create_thirty(5,30) --> True
#create_thirty(5,20) --> False
def create_thirty(num1,num2):
    return num1 + num2 == 30 or num1 == 30 or num2 == 30

In [40]:
create_thirty(2,28)

True

In [41]:
create_thirty(30,5)

True

In [42]:
create_thirty(4,5)

False

In [43]:
#'programming' --> ProGramming
w = 'macdonald'
w.capitalize()

'Macdonald'

In [48]:
part1 = w[:3].capitalize()

In [49]:
part2 = w[3:].capitalize()

In [50]:
part1 + part2

'MacDonald'

In [55]:
def caps_two_letters(word):
    if len(word) > 3:
        part1 = word[:3].capitalize()
        part2 = word[3:].capitalize()
        return part1 + part2
    else:
        return 'sorry, the word is too small'

In [56]:
caps_two_letters('program')

'ProGram'

In [57]:
caps_two_letters('pro')

'sorry, the word is too small'

In [1]:
#reverse a statement
str1 = 'I am home'
lst = str1.split()

In [2]:
lst

['I', 'am', 'home']

In [3]:
lst.reverse()

In [4]:
lst

['home', 'am', 'I']

In [5]:
' '.join(lst)

'home am I'

In [13]:
def rv_stat(txt):
    #lst = txt.split()
    #lst.reverse()
    return ' '.join(txt.split()[::-1])

In [14]:
rv_stat('I am home')

'home am I'

In [27]:
#check if 5 is next to 5 in the list
#[3,4,5,5,3,1] --> true
#[3,4,5,6,5] --> false
def has_55(lst):
    for n in range(0,len(lst)-1):
        if lst[n] == 5 and lst[n+1] == 5:
            return True
    return False

In [28]:
has_55([3,4,5,5,6])

True

In [30]:
has_55([3,4,5,6,5])

False

In [37]:
# check code 007 in a list
# [1,2,0,0,7] --> James Bond

def has_bond(lst):
    
    code = [0,1,1,'s']
    
    for n in lst:
        if n == code[0]:
            code.pop(0) #remove the number at index 0
            
    return len(code) == 1

In [40]:
has_bond([1,2,0,1,1])

True

In [41]:
code = [0,0,1,'s']
code.pop(0)
code

[0, 1, 's']

In [42]:
#Number of aruements
def full_name(fname,lname):
    print(fname + ' ' + lname)

full_name('Luke', 'Riechert')

Luke Riechert

In [44]:
def full_name(*names):
    
    if (len(names) == 1):
        print(names[0])
    else:
        print(names[0] + ' ' + names[1])

full_name('Luke', 'Riechert')

Luke Riechert

In [45]:
full_name('Luke')

Luke

In [50]:
def sum_nums(a,b):
    return sum((a,b))

In [51]:
sum_nums(10,15)

25

In [59]:
def sum_nums(*n):
    return sum(n)*.1

In [60]:
sum_nums(15)

1.5

In [61]:
sum_nums(15,10,9)

3.4000000000000004

In [68]:
def my_kids(child1,child2,child3):
    print('my first child ' + child1 + ', my second child ' + child2 + ', my third child ' + child3)

In [69]:
my_kids('Emily','Jon','Alice')

my first child Emily, my second child Jon, my third child Alice

In [70]:
my_kids(child2 = 'Jon', child1 = 'Emily', child3 = 'Alice')

my first child Emily, my second child Jon, my third child Alice